In [2]:
!pip install -q pandas_ta yfinance

WARNING: You are using pip version 20.2.1; however, version 23.3.2 is available.
You should consider upgrading via the 'd:\kaushik\github repos\time_series_analysis_and_forecasting_using_neural_networks\swing_trading_strategy\env\scripts\python.exe -m pip install --upgrade pip' command.

In [46]:
import yfinance as yf
import numpy as np
import pandas_ta as ta
import numpy as np
import pandas as pd

In [47]:
def trade_donchian(row):
    global trades, trade_open
    row = row.to_dict()

    if((trade_open==True) and (row['long'] == 1)): pass
    elif((trade_open==False) and (row['long'] == 1)):
        # open trade
        trade_open = True
        _trade = {
            'buy_date': row['next_date'],
            'buy_price': round(row['next_day_open_price']*1.005,2),
            'sell_price': None,
            'sell_date': None,
        }
        trades.append(_trade)
        del _trade
    elif((trade_open==False) and (row['short'] == 1)): pass
    elif((trade_open==True) and (row['short'] == 1)):
        # close trade
        trade_open = False
        _trade = trades[-1]
        _trade['sell_date'] = row['next_date']
        _trade['sell_price'] = round(row['next_day_open_price']*0.995,2)
        trades[-1] = _trade
        del _trade

In [48]:
def backtest(stock, period, low=20, high=20):
    global trades, trade_open
    
    data = yf.download(f'{stock}.ns', period=period, progress=False)
    
    data = data.reset_index()
    
    data[['low', 'mid', 'high']] = data.ta.donchian(lower_length=low, upper_length=high)
    
    data['long'] = ((data['Close']==data['low'])|(data['Low']==data['low'])).astype('int')
    data['short'] = ((data['Close']==data['high'])|(data['High']==data['high'])).astype('int')
    
    data['next_day_open_price'] = data['Open'].shift(-1)
    data['next_date'] = data['Date'].shift(-1).astype('string')
    
    trade_open = False
    
    trades = []
    
    data.dropna(inplace=True)
    
    cols = ['Date', 'Open', 'Close', 'Adj Close', 'Low', 'High', 'low', 'mid', 'high', 'long', 'short', 'next_day_open_price', 'next_date']
    data = data[cols]
    data.apply(trade_donchian, axis=1)

    if(len(trades)==0): return None
    x = pd.DataFrame(trades)
    
    x['buy_date'] = pd.to_datetime(x['buy_date'], format="%Y-%m-%d", dayfirst=True)
    x['sell_date'] = pd.to_datetime(x['sell_date'], format="%Y-%m-%d", dayfirst=True)
    x['returns'] = round(100*(x['sell_price']-x['buy_price'])/x['buy_price'],2)
    x['holding_period'] = (x['sell_date'] - x['buy_date']).dt.days
    x['stock'] = stock
    return x

In [49]:
TRADES = pd.DataFrame()
trades = []
trade_open = False

nifty_50_stocks = ['EICHERMOT','HEROMOTOCO','NESTLEIND','ONGC',
                   'BAJAJ-AUTO','TATASTEEL','GRASIM',
                   'BRITANNIA','BAJFINANCE','M&M','divislab',
                   'HINDUNILVR','HDFCBANK','HDFCLIFE','BHARTIARTL','TCS',
                   'LT','DRREDDY','ULTRACEMCO','SUNPHARMA','NTPC',
                   'TATAMOTORS','UPL','SBIN','HINDALCO','ITC','JSWSTEEL',
                   'COALINDIA','RELIANCE','BPCL','LTIM','MARUTI','HCLTECH',
                   'POWERGRID','WIPRO','SBILIFE','AXISBANK',
                   'ADANIPORTS','ICICIBANK','TITAN','BAJAJFINSV','KOTAKBANK',
                   'TATACONSUM','APOLLOHOSP','INFY','ASIANPAINT',
                   'ADANIENT','INDUSINDBK','TECHM','CIPLA']


for stock in nifty_50_stocks:
    _tr = backtest(stock, '10y', 20, 20)
    if(len(TRADES)==0): TRADES = _tr
    else: TRADES = pd.concat([TRADES, _tr], ignore_index=True)

In [50]:
TRADES.to_csv('trades.csv', index=False)

In [51]:
historical_trades = TRADES.dropna(how='any')

In [52]:
historical_trades[['returns', 'holding_period']].describe()

           returns  holding_period
count  1991.000000     1991.000000
mean      0.942185       37.942240
std       8.435581       27.257642
min     -68.710000        1.000000
25%      -1.670000       18.000000
50%       2.490000       31.000000
75%       5.495000       51.000000
max      31.180000      173.000000

In [56]:
historical_trades.loc[:,'pos_neg'] = (historical_trades['returns']>0).astype('int')

In [58]:
historical_trades['pos_neg'].value_counts(normalize=True)*100

pos_neg
1    66.248117
0    33.751883
Name: proportion, dtype: float64

In [59]:
historical_trades.groupby('pos_neg')[['returns', 'holding_period']].describe()

        returns                                                          \
          count      mean       std    min     25%   50%     75%    max
pos_neg
0         672.0 -7.445238  8.717681 -68.71 -9.3075 -4.63 -1.5875  -0.00
1        1319.0  5.215383  3.821924   0.01  2.5350  4.48  7.1450  31.18

        holding_period
                 count       mean        std  min   25%   50%   75%    max
pos_neg
0                672.0  63.135417  28.013906  1.0  43.0  58.5  78.0  173.0
1               1319.0  25.106899  15.289962  1.0  14.0  23.0  32.0   97.0

In [60]:
historical_trades.groupby('pos_neg')[['returns']].sum()

         returns
pos_neg
0       -5003.20
1        6879.09

In [61]:
historical_trades[['returns']].sum()

returns    1875.89
dtype: float64